<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Document</title>

</head>
<!-- loadash, axios -->
<body>
    <div id="app">
        
        <p v-if="showMain">Hello World</p>
        <!-- 리액티브 시스템중의 하나인 데이터 바인딩-->
        <p>{{message}}</p>

        <!--입력양식과 동기화 -->
        <input v-model="message">
        <input v-model.number="numberMessage">

        <ol>
            <!-- v-for는 디렉티브 -->
            <li v-for="item in list">{{item}}</li>
        </ol>

        <!-- 이벤트 사용 -->
        <button v-on:click="handleClick">Click</button>

        <!-- 트랜지션과 애니메이션 -->
        <button v-on:click="show=!show">변경하기</button>
        <transition>
            <p v-if="show">Hello Vue.js!</p>
        </transition>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
    <script type="text/javascript" src="../js/main.js"></script>

</body>
</html>

