<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>리스트 데이터출력,변경하기</title>
</head>

<body>
    <div id="app">
        출력조건 
        

        <li v-for="(item,index) in list" v-bind:key="item.id" v-if="item.hp < 300">
            ID.{{item.id}} {{item.name}} HP.{{item.hp}}
            
        </li>


        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>


    <script>        
        new Vue ({
            el : '#app',
            //리액티브 데이터
            data : { 
                // 리스트 데이터는 id와 같이 유니크 키가 있어야 가상 DOM으로 렌더링 할때 최적화가 이루어진다.
                list : [ 
                    { id : 1, name : '슬라임', hp : 100 },
                    { id : 2, name : '고블린', hp : 200 },
                    { id : 3, name : '드래곤', hp : 500}
                ]
            }
        })
    </script>

</body>
</html>

